* {
    box-sizing: border-box;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 30%;
    background-color: steelblue;
    height: 100%;
}

main {
    width: 70%;
    z-index: -1;
}

#map {
    height: 100%;
}


/******************Header******************/
header {
    width: 100%;
    height: 50px;
    z-index: 0;
    background-color: #341f48;
    -webkit-box-shadow: 0 0 15px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 15px 3px rgba(0,0,0,0.5);
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.5);
}

.menubtn {
    background: transparent;
    padding: 0;
    margin: 0;
    width: 48px;
    height: 48px;
    color: #33a29d;
}

.headername {
    display: inline-block;
    margin-left: 5px;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    color: #33a29d;
}

.error {
    float: right;
    padding: 15px;
    font-weight: bold;
    text-align: right;
    color: #fff;
}

/******************************************/


/****************Infowindow****************/
.infowindow {
	color: #555;
	min-height: 200px;
	width: 100%;
}

.infowindowImage {
	display: block;
	width: 100%;
}

.infowindowRatings {
    font-size: 1.8em;
	text-align: right;
	padding: 1em 0;
}

.infowindowImage img {
    border-radius: 5px;
	max-width: 100%;
    height: auto;
}

.infowindowTitle {
	font-size: 2em;
	text-align: center;
	padding: 1em .5em;
}

.infowindowAddress {
	color: #777;
	font-size: .9em;
}

/******************************************/
