* {
    box-sizing: border-box;
}

body,
div,
ul,
li,
p,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: 0;
}


/******************Header******************/

header {
    width: 100%;
    height: 50px;
    z-index: 1;
    position: absolute;
    background-color: #341f48;
    -webkit-box-shadow: 0 0 15px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 15px 3px rgba(0,0,0,0.5);
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.5);
}

.menubtn {
    background: transparent;
    width: 48px;
    height: 48px;
    color: #3ec9c3;
}

.headername {
    display: inline-block;
    margin-left: 5px;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    color: #3ec9c3;
}

.error {
    float: right;
    padding: 15px;
    text-align: right;
    color: #e54b3d;
}

/******************************************/

/*****************Side Bar*****************/

aside {
    width: 320px;
    background-color: #3ec9c3;
    height: 100%;
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-box-shadow: 0 0 15px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 15px 3px rgba(0,0,0,0.5);
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.sidebarHead {
    /*padding-bottom: 5px;*/
    /*border-bottom: 1px solid #341f48;*/
    height: 50px;
    background-color: #341f48;
    -webkit-box-shadow: 0 0 15px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 15px 3px rgba(0,0,0,0.5);
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.5);
}

.heading {
    font-size: 1.5em;
    padding-left: 10px;
    font-family: 'Pacifico', cursive;
    color: #3ec9c3;
}

.sidebtn {
    background: transparent;
    float: right;
    width: 48px;
    height: 48px;
    color: #3ec9c3;
}

.form {
    padding: 30px 10% 0 10%;
}

input,
select {
    border: none;
    border-radius: 20px;
    width: 100%;
    /*font-size: 0.9em;*/
    padding: 0.8em;
    background: #341f48;
    color: #3ec9c3;
    /*border: .2em solid #341f48;*/

    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    transition: background 0.4s ease;
}

@media screen and (max-width: 421px) {
    input,
    select {
        font-size: 0.95em;
    }
}

#location {
    margin-bottom: 5px;
}

#location:focus{
    background: #3ec9c3;
    color: #341f48;
    border: 2px solid #341f48;
}

select,
#location,
#locationBtn {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

input,
select:focus {
    outline: none;
}

input:focus::-webkit-input-placeholder {
    color: #341f48;
}
input:focus:input:-moz-placeholder {
    color: #341f48;
}

::-webkit-input-placeholder {
    color: #3ec9c3;
}
:input:-moz-placeholder {
    color: #3ec9c3;
}

.search {
    border-radius: 0;
    background: transparent;
    color: #341f48;
    border-bottom: 1px solid #341f48;
}

.search:focus {
    border-bottom: 2px solid #341f48;
}

.search::-webkit-input-placeholder {
    color: #341f48;
}
.search:input:-moz-placeholder {
    color: #341f48;
}

#locationBtn {
    background-color: #341f48;
    color: #3ec9c3;
    margin: 5px 37% 5px;
    width: 60px;
    height: 40px;
    border-radius: 20px;

    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

#locationBtn:hover {
    background-color: #3ec9c3;
    color: #341f48;
    border: 2px solid #341f48;
}

.list {
    list-style: none;
    color: #341f48;
}

.listItem {
  font-size: 1em;
  margin-left: 10px;
  /*border-bottom: 1px solid #3ec9c3;*/
  margin-bottom: 15px;

  -webkit-transition: font-size 0.3s ease, font-weight 0.3s ease;
  -moz-transition: font-size 0.3s ease, font-weight 0.3s ease;
  transition: font-size 0.3s ease, font-weight 0.3s ease;
}

.listItem:hover {
    font-size: 1.1em;
    font-weight: bold;
}

.listItem:first-child {
  margin-top: 20px;
}

.listItem {
    cursor: pointer;
}

/******************************************/

/****************Scroll Bar****************/

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #341f48;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

/******************************************/


/****************Main $ Map****************/

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

main {
    width: 100%;
    /*z-index: -1;*/
}

#map {
    height: 100%;
}

/******************************************/


/****************Infowindow****************/
.infowindow {
	color: #555;
	min-height: 200px;
	width: 100%;
}

.infowindowImage {
	display: block;
	width: 100%;
}

.infowindowRatings {
    font-size: 1.8em;
	text-align: right;
	padding: 1em 0;
}

.infowindowImage img {
    border-radius: 5px;
	max-width: 100%;
    height: auto;
}

.infowindowTitle {
	font-size: 2em;
	text-align: center;
	padding: 1em .5em;
}

.infowindowAddress {
	color: #777;
	font-size: .9em;
}

/******************************************/
